<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546273452049-qugvnvh9od6l5dvbhp6vg0tt6vpm7bf8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546273452049-qugvnvh9od6l5dvbhp6vg0tt6vpm7bf8</string>
	<key>API_KEY</key>
	<string>AIzaSyDw83mhi5hKIWTZ4zFKvuoW9hw7zUJ2pTE</string>
	<key>GCM_SENDER_ID</key>
	<string>546273452049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beyazaltinApp</string>
	<key>PROJECT_ID</key>
	<string>beyaz-altin</string>
	<key>STORAGE_BUCKET</key>
	<string>beyaz-altin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546273452049:ios:e54cc2c4a2bd3d1a2991b0</string>
	<key>DATABASE_URL</key>
	<string>https://beyaz-altin-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>